{% extends 'frontend/headerfooterfront.html.twig' %}

{% block content %}
    <div class="card" xmlns="http://www.w3.org/1999/html">
    <div class="card-header">
        <h3 class="card-title">Liste des reponses</h3>
    </div>

    <div class="card-body p-0">
        <table id="chauffeur" class="table table-striped">
            <thead>
            <tr>
                <th>date reponse </th>
                <th>description</th>
            </tr>
            </thead>
            <tr>
                <td>{{ rep.DateRep |date("m/d/Y") }}</td>
                <td>{{ rep.Description }}</td>
            </tr>
        </table>
        <div align="center">
            <a class="btn btn-block btn-info" href="{{ path('pdf',{'idrec':rep.idRec.id}) }}" >download into pdf</a>
        </div>
    </br> </br> </br>
        <div align="center">
            <a class="btn btn-block btn-info" href="{{ path('list_reclamation') }}" >retour</a>
        </div>
    </div>

{% endblock content %}