{% extends './backend/backbody.html.twig' %}
{% block title %}New reservation{% endblock %}

{% block body %}

{% endblock %}

{% block content %}

    <div style="width: 50% ; margin:auto">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>


{% endblock %}