{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}

{% endblock %}

{% block page_content %}

    <div style="width: 50% ; margin:auto">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}