{% extends 'frontend/headerfooterfront.html.twig' %}

{% block content %}
<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.jpg">

                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-9">
                            <div class="hero__caption">
                                <h1>  <span> welcome !</span> </h1>
                               
                            </div>

                        </div>
                    </div>
                    <!-- Forum user-->


  <!-- Forum user-->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

